*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

div{
   width: 200px;
   height: 200px;
   border: 1px solid #000;
}

.bloco{
   display: inline-block;
}

#b-vermelho{
   background-color: red;
}

#b-azul{
   background-color: blue;
}

#b-amarelo{
   background-color: yellow;
}

#b-verde{
   background-color: green;
}