*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header{
   height: 100px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

header label{
   margin-right: 15px;
   font-size: 22px;
   font-weight: bold;
}

header button{
   margin-left: 15px;
   padding: 5px 25px;
}

header input{
   padding: 5px;
}

.carousel-item {
   display: none;
   width: 100%;
   height: 350px;
   justify-content: space-evenly;
   align-items: center;
   backface-visibility: hidden;
   flex-wrap: nowrap;
 }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.poster{
   width: 14%;
   height: 100%;
   margin: 5px;
   border-radius: 10px;
}

.posterBusca{
   width: 300px;
   height: 400px;
   margin: 5px;
   border-radius: 10px;
}

#resultBusca{
   width: 100%;
}

.imagens-busca{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
}

#home:hover{
   cursor: pointer;
}