*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

/* Header */
.container{
   width: 100%;
   min-height: 100vh;
   padding: 5px;
   background-color: #A9B2FD;
   
}

header{
   display: flex;
   background: #7E85BD;
   border: #3b3b3b 1px solid;
   border-radius: 5px;
   
}

.image{
   width: 200px;
   height: 200px;
}

.image img {
   width: 100%;
   height: 100%;
}

.section-title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10px;
}

.title{
   padding-bottom: 10px;
}

/* section lists */

.section-container{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.lists{
   width: 43%;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 10px;
   margin-top: 5px;
   box-shadow: 8px 8px 8px #3b3b3b;
}

.list-foods{
   margin-bottom: 25px;
}

.list-movies{
   margin-bottom: 25px;
}

.lists .list-foods ol {
   padding-left: 30px;
}

.lists .list-foods ol li{
   padding-right: 25px;
   display: inline;
}

.lists .list-movies ul{
   column-count: 3;
}

.musics{
   column-count: 2;
}

.lists ul{
   padding-left: 30px;
}

.lists h3 {
   padding: 5px;
}

.lists h4 {
   padding: 5px;
}

/* section images */

.images{
   width: 55%;
   padding: 10px;
   margin-top: 5px;
}

.images img {
   width: 120px;
   height: 120px;
   border: 1px solid #0111;
   transform: rotate(-15deg);
   margin: 3px;
}

.images img:hover{
   border: 2px solid #FDCE6A;
   box-shadow: 3px 3px 5px #FDCE6A;
}